.card-container {
    display: flex;
    max-width: 100%; 
    margin: auto; 
    padding: 20px;
    flex-wrap: wrap;
}
.home-txt{
    font-size: 36px;
    border-bottom: 2px solid rgb(245, 234, 226);
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.dashboard {
    background-color: rgb(196, 184, 170);
}
.footer-txt{
    text-align: right;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(205, 204, 204);

}